# Unstructured
unstructured[all-docs]==0.11.8
unstructured-client==0.23.1  

#  LangChain
langchain==0.1.20
langchain-core==0.1.52
langchain-community==0.0.30  

# Supabase / pgvector
supabase==2.1.1
psycopg2-binary==2.9.9

# Supporting
pydantic==1.10.15
requests
tqdm
ipython
